@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: #420fe7;
    padding: auto;
    /* overflow: hidden; */
    /* background: rgb(29, 29, 29); */
}

.letterJ {
    width: 100px;
    height: 150px;
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-top: 30px;
    margin-left: 20px;
    animation:  1s ease-in-out;
    position: relative;
}

.pagina {

    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10PX;
    transition: transform 1s, opacity 1s;
    transform-style: preserve-3d;
}

#pagina1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#1435f0, #2f3064);
    background: #420fe7;
    background-attachment: fixed;
    z-index: 2;
    overflow: hidden;
}
#contact h2{
    -webkit-text-stroke: 1px #420fe7;
}



#pagina2 {
    background-color: rgb(241, 225, 225);
    opacity: 1;
    z-index: 1;
    backface-visibility: hidden;
    background: #420fe7;
    display: block;
    transition: opacity 1s;
    overflow: hidden;
    
}

.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    border-radius: 50%;
}
.c-one{
    width: 250px;
    height: 250px;
    /* border-left: 5px solid #fff; */
    animation:  1s linear infinite;
}

.c-two{
    width: 200px;
    height: 200px;
    /* border-right: 5px solid #fff; */
    animation:  1s  linear infinite;
}
.c-three{
    width: 150px;
    height: 150px;
    /* border-top: 3px solid #fff; */
    animation:  1s  linear infinite;
}

@keyframes righrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes leftrotate{
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(0deg);
    }
}
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes righrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes leftrotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate {
    animation: rotate360 1s ease-in-out forwards;
}

.righrotate {
    animation: righrotate 1s linear infinite;
}

.leftrotate {
    animation: leftrotate 1s linear infinite;
}

.flip {
    transform: rotateY(-90deg) rotate(0deg) translateX(-400vw) scale(0.5);
    transition: transform 1s ease-in-out;
}

.show {
    opacity: 1;
}

header{
    padding: 2rem;;
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 0;
}

#sound{
    padding: 7px;
    /* background-color: #1b1b1b; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}
.bi .bi-music-note-list{
    font-size: 1.2em;
    color: 7px;
    color: #f50057;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #f50057;
}
#on{
    display: none;
    color: #08dff8;
}
.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    /* background-color: #181818; */
    color: #fff;
    cursor: pointer;
}
.btns-container .fas:nth-child(2){
    display: none;
}
.bi-backspace{
    display: none;
    z-index: 50;
}

.aside{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    background-color: #420fe7;
    z-index: 1000;
   
}
.show-nav{
    height: 100%;
    overflow: visible;
    /* display: none; */
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
     /* display: none; */
}

.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #420fe7;
    color: #fff;
}
.logo{
    display: grid;
    place-content: center;
    text-decoration: none;
}
.logo img{
    width: 45px;
    height: auto;
}

.logo span{
    font-size: 1.7em;
    color: #fff;
}

.logo-section > span{
    margin-top: 25Px;
    font-size: 12px;
    font-size: 'Times New_Roman', 'Times', serif;
}

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #989898;  
    

}

.nav-links a:hover{
    color: #08fdd8;
}

.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}
.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: #909096;
}
.social-icons li a:hover{
    color: #08dff8;
}
#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone h1{
    font-size: 3rem;
    line-height: 46px;
    font-weight: 100;
    letter-spacing: -3px;
    position: relative;
    margin: 0;
    /* letter-spacing: .4rem; */
    z-index: 20;
}
.text-zone-2 .contact-button .buttoemai {
    display: inline-block;
    position: relative;
    /* padding: 120px 20px; */
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    /* width: 200vw;  */
}
#email{
    padding-left: 6px;
    padding-bottom: 0px;
    padding-right: 180px;
    left: 80px;
    display: flex;
    justify-content: space;
}
.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: -70px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -10px;
    right: -60px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone img{
    width: 35px;
    height: 50px;
}

.text-zone .gray-text{
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}
#botonInicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5vw;
    height: 100vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.contact-button{
    margin-top: 50px 0 0;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    position: relative;
    text-align: center;
    color: #08fdd8;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08dff8;
    box-sizing: border-box;
}

.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    letter-spacing: .1rem;
}
.contact-button:hover span.text{
    /* color:#1d1d1d */
    color: #fff;
}
.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}
.scroll-down--left{
    left: -30px;
    right: auto;

}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
#juan{
    z-index: -100;
}
#lopez{
    z-index:0;
    
}
@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}
.svg-container {
    width: 90px; 
    height: 68px; 
    display: inline-block; 
    vertical-align: middle; 
    position: absolute;
    left: 325px; 
    top: 50; 
    transition: transform 0.3s ease-in-out; 
}

.svg-container svg {
    width: 100%; 
    height: auto;
    z-index: 1;
}
.svg-container text {
    font-family: 'Averta', sans-serif; 
    font-weight: bold;
    
}
.svg-container path:first-of-type {
    fill: #EEA1BE; 
}
.svg-container path:last-of-type {
    fill: #C26A8B; 
}
.svg-container text tspan {
    fill: #18033C; 
}
.svg-container:hover {
    /* top: 10px; */
    transform: rotate(10deg) scale(1.1);    
    z-index: 3;
    cursor: pointer;
    transform: scale(1.1) rotate(10deg);
    z-index: 10
    
}
tspan{
    font-size: 1vw;
    line-height: 14vw;
    white-space: inherit;
    letter-spacing: 1px;
}
.gray-text {
    color: gray;
}

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}
#header{
    font-size: 2rem;
    margin-bottom: 30px;
    color: transparent;
}
.text-zone-2 p{
    line-height: 1.5;
    padding-left: 60px;
}
.fake-big-2{
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    color: #fff;
    left: 10px;
    bottom: -60px;
    letter-spacing: -10px;
    z-index: -999;
    opacity: 0.1;
}
h2{
    font-family: "Averta",sans-serif;
    font-size: 9vw;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px #CECAE3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin-top: 0px;
}
#home-magicwall{
    margin: 0;  
    max-height: 300vh;
}
.fake-magicwall{
    background-color: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    display: block;
    justify-content: space-between;
    padding-left: 30rem;
    padding: 0;
    margin: 0;
    max-height: 100vh;
}




@media screen and (max-width:950px){ 
    
.btns-container{
        display: block;
    }
.fake-magicwall .project{
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: 15rem;
    margin-top: 2rem;
    justify-content: space-between;
    border: 2px solid transparent;

}
.fake-magicwall .project{
    width: 41vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.fake-magicwall .project-1{
    width: 60%;
    height: 50vh;
    right: 200px ;
    top: -20px;
}
.fake-magicwall .project-1 .hover-content p{
    padding-left: 10px;
}
 .project-1 {
    right: 70px;
}



.fake-magicwall .project-2{
    width: 60%;
    height: 50vh;  
    top: -40px;
    right: 200px ;
}
.fake-magicwall .project-3{
    width: 60%;
    height: 50vh;
    right: 200px ;
    top: -20px;
}
.fake-magicwall .project-4{
    width: 60%;
    height: 50vh;
    right: 200px ;
    top: -20px;

}
.project-4{
    top: -760px;
    right: 400px;

}
.fake-magicwall .project-5{
    width: 60%;
    height: 50vh;
    right: 200px ;
    top: -20px;

}
.project-5{
    top: -1040px; 
    right: -280px;
} 
}
.magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opcaity 0.5s, -webkit-transform 0.5s;
    display: block;
    justify-content: space-between;
    justify-content: center;
}
.fake-magicwall img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}.fake-magicwall .project:hover{
    border: .5px solid #fff ;
    transition: rotateY(10deg) ;
    transition: all .5s ease-in;
}
.fake-magicwall .project:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
    transition: all .6s ease-in;

    /* z-index: 100; */
}
.fake-magicwall .project:hover .description{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all .7s ease-in;

}
.fake-magicwall .project a.colorbox{
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 65%;
    background: url(../circle.png) no-repeat center;
    opacity: 0;
    transition: all 15s ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.6);
}
.hover-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.hover-content p{
    padding-left: 50px;
    padding-right: 50px;
}
.fake-magicwall .project:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}
#section-about{
    padding-left:1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.text-zone-3 p{
    margin-bottom:30px;
    line-height: 1.5rem;
}
#header2 h2{
    margin-bottom: 25px;
    -webkit-text-stroke: 1px rgb(223, 146, 137);


}
#textp{
    margin-bottom: 35px;

}
.tech{
    text-decoration: none;
    color: #08fdd8;
    
}
#contact {
    padding: 2rem;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
    color: black;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border-bottom: 2px solid #420fe7;
    border-top: 2px solid #420fe7;
    margin-bottom: 1rem;
    transform: skewX(-10deg);

}

.contact-button2:hover {
    background-color: #420fe7;
    color: #fff;
    border-radius: 10px;
    transition: all .5s ease;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-links a {
    text-decoration: none;
    color: black;
    margin-bottom: 0.5rem;
}

.social-links a:hover {
    color: #420fe7;
}
@media screen and (max-width: 1000px) {
    tspan{
        font-size: 2.1vw;
        line-height: 10vw;
        white-space: inherit;
        letter-spacing: 0px;
    }
    .aside{
        display: none;
    }
    
    .bi-backspace{
        display: none;
        z-index: 100;
    }
    #section-home{
        padding-left: 90px;
    }

}
@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
    }
      #backhome a{
        left: 1400px;
    }
    tspan{
        font-size: 1vw;
        line-height: 14vw;
        white-space: inherit;
        letter-spacing: 1px;
    }
    .aside{
        width: 10%;
        height: 100%;
        /* display: none; */
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
    }
    .social-icons li{
        text-align: center;
        font-size: 1rem;
    }

    #section-home{
        padding-left: 200px;
    }
    .text-zone{
        font-size: 6.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone img{
        width: 50px;
    }
    .text-zone{
        font-size: 1rem;
    }
    .scroll-down{
        right: -25px;
        bottom: 5rem;
    }
    .scroll-down--left{
        left: 110px;
        right: auto;
        margin-left: 9px;
    }
    .bi .bi-arrow-down{
        transform: rotateY(360deg);
    }
    .text-zone h1{
        font-size: 5rem;
        line-height: 66px;
        letter-spacing: -3px;
        position: relative;
        margin: 0;
        letter-spacing: .4rem;
        z-index: 20;
    }
    .section.work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 120px;


    }
    #header{
        font-size: 2.5rem;
        padding-left: 15rem;
    }
    #case{
        top: 300px;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem ;
        padding-left: 0px;
    }
    .text-zone-2 {
        position: relative;
        display: inline-block;
        top:-60px

    }
    
    .text-zone-2 .contact-button .buttoemai {
        display: inline-block;
        position: relative;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        overflow: hidden;
        /* width: 100vw; */
    }
    #email{
        padding-top: 0;
        padding-left: 6px;
        padding-bottom: 0;
        padding-right: 180px;
        top: -10px;
        left: 40px;
        display: flex;
        justify-content: space;
    }
    .icon{
        padding-left: 8px;
    }
    
    .contact-button div {
        position: relative;
        z-index: 1;
    }
    
    .fake-big-2{
        font-size: 19rem;
        font-weight: 700;
        left: 260px;
        top: 700px;
    }
    .fake-magicwall{
        padding-left: 10rem;   
    }
    .project{
        width: 242px;
        height: 236px;
        margin-left: 4rem;
        justify-content: center;
        align-items: center;
    }
    #section-about{
        flex-direction: row;
        padding-left: 13rem;
    }
    .text-zone3 #header {
        width: 50px;
        font-size: 3rem;
    }
    .text-zone3 p{
        width: 400px;
    }
    .skills-charts{
        margin-right: 70px;
    }
    #home-magicwall{
        padding-left: 15rem; 
        max-height: 325vh;
    }
    .fake-magicwall .project{
        list-style: none;
        display: flex;
        margin: 0;
        margin-left: 20rem;
        margin-top: 2rem;
        justify-content: space-between;
        border: 2px solid transparent;
    
    }
    .fake-magicwall .project{
        width: 41vw;
        height: 80vh;
        position: relative;
        overflow: hidden;
    }
     .project-1 {
        right: -320px;
    }
    
    .project-2 .magic-wall_item .lazyload{
        width: 70%;
        height: 90vh;
    }
    
    .fake-magicwall .project-2{
        width: 35%;
        height: 90vh;  
        top: -350px;
        right: 360px ;
    }
    .project-3{
        top: -600px;
        right: -300px;
    }
    .fake-magicwall .project-4{
        width: 40%;
    
    }
    .project-4{
        top: -760px;
        right: 400px;
    
    }
    .fake-magicwall .project-5{
        width: 60%;
    
    }
    .project-5{
        top: -1040px; 
        right: -280px;
    } 
    
}
*{
    -webkit-text-size-adjust: 100%;
}
.content-about {
    /* padding: 0 40px; */
    padding-left: 180px;
}
.content-about .about-title {
    box-sizing: border-box;
    padding-left: 140px;
    animation: anim-text 1100ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .about-title h2 {
    margin-top: 40px
}

.content-about .about-intro {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 140px;
    margin-top: 40px
}

.content-about .about-intro .about-text {
    padding-top: 4%;
    box-sizing: border-box;
    width: 40%;
    animation: anim-text 1150ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .about-intro .about-picture {
    width: 50%;
    z-index: 20;
    animation: anim-text 1200ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .about-intro .about-picture img {
    width: 100%
}

.content-about .about-services {
    display: flex;
    margin-top: -6%;
    animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .about-services .content-services {
    background-color: #EEA1BE;
    box-sizing: border-box;
    padding: 100px 140px;
    margin-top: 110px;
    width: 65%
}

.content-about .about-services .content-services p {
    color: #52436C
}

.content-about .about-services .content-services .text {
    margin: 40px 0
}

.content-about .about-services .content-services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0
}

.content-about .about-services .content-services ul li {
    width: 46%;
    font-family: "Averta",sans-serif;
    font-size: 24px;
    color: #18033C
}

.content-about .about-services .content-services ul li p {
    margin-top: 20px
}

.content-about .about-services .content-services ul li:nth-child(3),.content-about .about-services .content-services ul li:nth-child(4) {
    margin-top: 30px
}

.content-about .about-services .resume {
    margin: 220px 0 0 60px;
    width: 23%;
    animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .about-services .resume h3 {
    display: flex;
    align-items: center;
    color: #F3F2F4
}

.content-about .about-services .resume h3 svg {
    margin-right: 14px
}

.content-about .about-services .resume p {
    margin-bottom: 30px
}

.content-about .about-services .resume a {
    border: 1px solid #574CF2;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background-color 200ms, border 200ms
}

.content-about .about-services .resume a:hover {
    background-color: #18033C;
    color: #F3F2F4;
    border: 1px solid #18033C
}

.content-about .about-process {
    margin: 120px 0 0 140px;
    animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1)
}
@keyframes anim-text {
    0% {
        transform: skew(0, 10deg) rotate(10deg) translate(200px, 1400px);
        opacity: 0
    }

    60% {
        transform: skew(0, 10deg) rotate(10deg) translate(200px, 1400px);
        opacity: 0
    }

    100% {
        transform: skew(0, 0) rotate(0) translate(0, 0);
        opacity: 1
    }
}
.content-about .about-process .process-content {
    margin-left: 140px;
    width: 70%
}

.content-about .about-process .process-content .intro-text {
    width: 80%;
    margin: 40px 0
}

.content-about .about-process .process-content ul {
    display: flex;
    justify-content: space-between;
    padding: 0
}

.content-about .about-process .process-content ul li {
    list-style: none;
    width: 22%
}

.content-about .about-process .process-content ul li h3 {
    color: #F3F2F4
}

.content-about .about-process .process-content ul li .number {
    font-family: "Averta",sans-serif;
    color: #F3F2F4;
    font-size: 26px;
    background-color: #18033C;
    width: 80px;
    height: 80px;
    padding: 35px 20px 20px 20px;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}



.content-about .yeah {
    width: 42%;
    display: flex;
    flex-direction: column;
    margin: 120px 0 0 140px;
    animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1)
}

.content-about .yeah .tag {
    margin-bottom: 20px
}

.content-about .yeah .title {
    font-size: 56px;
    color: #F3F2F4;
    font-family: "Averta",sans-serif
}

.content-about .yeah p {
    margin: 20px 0
}

.content-about .yeah .contact {
    margin-top: 40px
}

@media (min-width: 834px) and (max-width: 1300px) {
    .content-about .about-title {
        padding-left:0px
    }

    .content-about .about-intro {
        padding-left: 0px
    }

    .content-about .about-intro .about-text {
        width: 50%
    }

    .content-about .about-intro .about-picture {
        width: 45%
    }

    .content-about .about-services {
        margin-top: 60px;
        flex-direction: column
    }

    .content-about .about-services .content-services {
        width: 100%;
        padding: 60px 80px
    }

    .content-about .about-services .resume {
        margin: 8px 0 0 60px
    }

    .content-about .about-process {
        margin: 80px 0 0 0
    }

    .content-about .about-process .process-content {
        margin-left: 60px;
        width: 90%
    }


    .content-about .yeah .title {
        font-size: 7vw
    }
}

@media (min-width: 320px) and (max-width: 833px) {
    .content-about {
        padding:0 30px
    }

    .content-about .about-title {
        padding-left: 0px
    }

    .content-about .about-intro {
        flex-direction: column-reverse;
        padding-left: 0px
    }

    .content-about .about-intro .about-text {
        width: 100%;
        padding-top: 0px
    }

    .content-about .about-intro .about-picture {
        width: 100%;
        margin-bottom: 40px
    }

    .content-about .about-services {
        margin-top: 60px;
        flex-direction: column
    }

    .content-about .about-services .content-services {
        width: 100%;
        padding: 40px 40px
    }

    .content-about .about-services .content-services ul {
        justify-content: center
    }

    .content-about .about-services .content-services ul li {
        width: 100%
    }

    .content-about .about-services .resume {
        width: 100%;
        margin: 8px 0 0 0px
    }

    .content-about .about-process {
        margin: 80px 0 0 0
    }

    .content-about .about-process .process-content {
        margin-left: 0px;
        width: 100%
    }

    .content-about .about-process .process-content .intro-text {
        width: 100%
    }

    .content-about .about-process .process-content ul {
        flex-wrap: wrap
    }

    .content-about .about-process .process-content ul li {
        width: 50%
    }

    .content-about .about-process .process-content ul li:nth-child(3),.content-about .about-process .process-content ul li:nth-child(4) {
        margin-top: 40px
    }


    .content-about .yeah {
        width: 100%;
        margin: 60px 0 0 0
    }

    .content-about .yeah .title {
        font-size: 7vw
    }
    #backhome a{
        left: 1400px;
    }
}
#backhome a{
    /* display: none; */
    font-size: 2rem;
    text-decoration: none;
    background: transparent;
    color: #fff;
    position: absolute; 
    top: 90px; 
    left: 850px;
    font-family: sans-serif;
}
